@font-face {
    font-family: raleway-regular;
    src: url('src/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: raleway-bold;
    src: url('src/assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: openSans-regular;
    src: url('src/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: openSans-bold;
    src: url('src/assets/fonts/OpenSans-bold.ttf');
}